[*]
charset = utf-8
end_of_line = crlf
insert_final_newline = true
indent_style = space
indent_size = 4

# For more details on C# code formatting, please visit our style-guide example: https://github.com/Gothic-UnZENity-Project/Gothic-UnZENity/blob/main/Docs/development/style-guide.md
# Rider - Auto-apply of settings during save: https://www.jetbrains.com/help/resharper/Enforcing_Code_Formatting_Rules.html#run-code-cleanup-automatically-on-save
# VS22  - Auto-apply of settings during save: https://devblogs.microsoft.com/visualstudio/bringing-code-cleanup-on-save-to-visual-studio-2022-17-1-preview-2/

[*.cs]
# Allow var. e.g. var isEnabled = true;
csharp_style_var_elsewhere = true:suggestion
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion

# Define private members/static variables to be underscored: e.g. private bool _isEnabled;
# Hint: Constants are also handled by it.
dotnet_naming_rule.private_members_with_underscore.symbols  = private_fields_and_properties
dotnet_naming_rule.private_members_with_underscore.style    = prefix_underscore
dotnet_naming_rule.private_members_with_underscore.severity = warning
dotnet_naming_symbols.private_fields_and_properties.applicable_kinds           = field, property
dotnet_naming_symbols.private_fields_and_properties.applicable_accessibilities = private
dotnet_naming_style.prefix_underscore.capitalization  = camel_case
dotnet_naming_style.prefix_underscore.required_prefix = _

# Define protected/public fields to be PascalCase: e.g. protected bool IsEnabled;
dotnet_naming_rule.public_fields.symbols  = public_fields
dotnet_naming_rule.public_fields.style    = pascal_case
dotnet_naming_rule.public_fields.severity = warning
dotnet_naming_symbols.public_fields.applicable_kinds           = field
dotnet_naming_symbols.public_fields.applicable_accessibilities = protected, public
dotnet_naming_style.pascal_case.capitalization = pascal_case

# Braces around single IF statements.
csharp_prefer_braces = true:warning


[{*.json,*.yaml,*.yml}]
indent_style = space
indent_size = 2
